.MovieListLink{
  text-decoration: none;
  margin-right: 20px;
}
.MovieListItem div div{
  display: flex;
  align-items: center;
}
.icon__favorite{
  color: red;
}
.FavoriteButton{
  position: absolute;
  left: 34px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
